<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Articls</title>
        <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="/styles/articles.css">
        <link rel="stylesheet" href="/styles/footer.css">
        <link rel="stylesheet" href="/styles/nav.css">

    </head>

    <body>
        <header id="userHeader">
            <nav>
                <ul class="menuItems">
                    <a id="anker" href="/" target="_blank">Pinned</a>

                    <li>
                        <a href='/' data-item='Home'>Home</a>
                    </li>
                    <li>
                        <a href='/about' data-item='About'>About</a>
                    </li>


                    <!-- <li id="mylist">
                                        <a href='#' data-item='My List'>My List</a>
                                    </li> -->

                    <form action="/signupdata" method="GET" id="signupdata">

                        <button class="login-btn ">Login<i id="logicon" class="fas fa-sign-in-alt"></i>
                        </button>

                    </form>

                </ul>
            </nav>
        </header>
        <!-- <a href="signin&signyp.ejs">go to signin</a> -->
        <!-- <a href="/sign/signin-sigup">signin</a> -->
        <div class="card-container">
            <% articlsKey.forEach ((articl,idx) => {  %>
                <form id="<%=idx%>" action="" method="post">
                    <div class="card card-1">
                        <div id="faved">
                            <button id="favbut">
                                <i class="love"></i>
                                <span class="saved">Saved!</span>
                            </button>
                        </div>
                        <div class="card-img"><img id="artIMG" src="<%= articl.img %>" alt=""></div>
                        <a href="" class="card-link">
                            <div class="card-img-hovered"></div>
                        </a>
                        <div class="card-info">
                            <div class="card-about">
                                <a id="cardTag" class="card-tag tag-news">
                                    <%= articl.source %>
                                </a>
                                <div id="cardTime" class="card-time">
                                    <%= articl.date %>
                                </div>
                            </div>
                            <!-- this is ancour for source link of articl  -->
                            <a id="cardUrl" href="<%= articl.url %>" class="card-title">read more</a>
                            <h1 id="cardTitle" class="card-title">
                                <%= articl.title %>
                            </h1>
                            <!-- this is the description we need to style it and make the font siza smaller. -->
                            <h1 id="articlDesc" ><%= articl.description %></h1>
                            <div class="card-creator">by
                                <a id="cardAuthor" href="">
                                    <%= articl.author %>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            <% }) %>
        </div>
        <!-- // Footer //  -->
        <%- include ('footer.ejs') %>

        <!-- //End Footer //  -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --><script src="https://code.jquery.com/jquery-3.5.1.js"> </script>
        <script src="/js/forHeader.js"></script>
        <script src="/js/fav.js"></script>
        <script src="/js/jsForindex.js"></script>
    </body>

</html>
