<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="">
    <meta name="viewport" content="width=, initial-scale=">
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/list.css">
    <link rel="stylesheet" href="/styles/footer.css">

    <title></title>
</head>

<body>
    <div class="mainC">

        <header id="userHeader">
            <nav>
                <ul class="menuItems">
                    <a id="anker" href="/">
                        <p>Pinned</p>
                    </a>

                    <li>
                        <a href='/' data-item='Home'>Home</a>
                    </li>
                    <li>
                        <a href='/about' data-item='About'>About</a>
                    </li>
                </ul>
                <form action="/signupdata" method="GET" id="signupdata">

                    <button class="login-btn ">Login<i id="logicon" class="fas fa-sign-in-alt"></i>
                    </button>

                </form>
            </nav>
        </header>

        <div id="allfav">
            <% for(let i = 0; i < userFavList.length; i++){ %>

            <div class="blog-card alt">
                <div class="meta">
                    <div class="photo">
                        <img id='favImg' src="<%= userFavList[i].img %>" alt="">
                    </div>
                    <ul class="details">
                        <li class="author"><a href="#"><%= userFavList[i].author %></a></li>
                        <li class="date"><%= userFavList[i].articl_date %></li>
                    </ul>
                </div>
                <div class="description">
                    <h1><%= userFavList[i].title %></h1>
                    <p><%= userFavList[i].conten %></p>
                    <p class="read-more">
                        <a href="<%= userFavList[i].src_url %>">read more</a>
                    </p>
                </div>
            </div>
            <%  } %>
        </div>
        <!-- // Footer //  -->
        <%- include ('footer.ejs')  %>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="/js/forHeader.js"></script>
        <script src="/js/jsForindex.js"></script>
    </div>

</body>

</html>